<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDetect_V2</title>
    <link rel="stylesheet" href="static\style.css">
</head>

<body>
    <div class="container">
        <div>Drowning Detection</div>
        <div class="buttons">
            <button class="button" onclick="window.location.href = 'login';"><span>Login</span></button>
            <button class="button" onclick="window.location.href = 'rg';"><span>Register</span></button>
        </div>
    </div>   
</body>
<footer>&copyGnarkod007</footer>
</html>